body {
	background-color: #E2E0C8;
	font-family: 'Open Sans',Arial,sans-serif;
	color: white;
}


.container1 {
	width: 94%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.container {
	width: 94%;
	margin: 0 auto;
	
}
.container2 {
	padding: 10px;
	width: 94%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	flex-direction: row-reverse;

}
.headerPrincipal {
	background-color: #A6B37D;
	padding: 20px 0;
	color: white;
}

.headerPrincipal-titulo {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 20px;
}

.headerPrincipal-titulo a {
	text-decoration: none;
	color: inherit;
}

.headerPrincipal-nav-link {
	padding: 10px;
	margin-bottom: 5px;
	color: white;
	background-color: transparent;
	text-decoration: none;
	transition: .5s;
	display: inline-block;
	border-bottom: 1px solid transparent;
}

.contenidoPrincipal {
	margin-top: 20px;
	margin-bottom: 20px;
}

.subtitulo {
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 10px;
	text-align: center;
}

.contenidoPrincipal-productos{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-around;
}

.contenidoPrincipal-productos-link {
	height: 100px;
	width: 300px;
	background-color: #FFF;
	text-align: center;
	margin: 1%;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
}

.contenidoPrincipal-productos-link a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
}

.contenidoPrincipal-productos-link:hover {
	box-shadow: 4px 4px 4px #AAB99A;
}

.contenidoPrincipal-productos-link a:before {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	margin: 10px auto;
}

.contenidoPrincipal-productos-link:nth-child(even) a:before {
	background: url(../img/background1.svg) no-repeat;	
	background-size: cover;
}

.contenidoPrincipal-productos-link:nth-child(odd) a:before {
	background: url(../img/background2.svg) no-repeat;
	background-size: cover;
}


.rodapePrincipal {
	background-color: #818C78;
	padding-top: 20px;
}

.rodapePrincipal .subtitulo {
	color: #FFF;
}

.rodapePrincipal-navMap-link {
	text-decoration: none;
	color: #FFF;
	margin-top: 10px;
}

.rodapePrincipal-navMap-link {
	font-size: .9em;
}

.navmap-list-title {
	font-weight: 700;
	font-size: 1.3em;
	margin: .9em 0;
	padding-left: .3em;
	padding-top: .2em;
	padding-bottom: .2em;
}

.navmap-list-title + .rodapePrincipal-navMap-link {
	margin-top: 0;
}

.navmap-list-title-zara { color: #D0DDD0; border-left: 4px solid #AAB99A; }
.navmap-list-title-adidas { color: #D0DDD0; border-left: 4px solid #AAB99A; }
.navmap-list-title-nike { color: #D0DDD0; border-left: 4px solid #AAB99A; }
.navmap-list-title-polo { color: #D0DDD0; border-left: 4px solid #AAB99A; }

.rodapePrincipal-patrocinadores {
	margin-top: 30px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	justify-content: center;
	background: #D9DFC6;
	padding: 20px ;
}

.rodapePrincipal-contatoForm {
	margin-top: 20px;
	text-align: center;
}

.rodapePrincipal-contatoForm label[for=email-contato] {
	font-weight: bold;
	font-size: 14px;
	color: #000;
	margin-bottom: 5px;
	display: block;
}

.rodapePrincipal-contatoForm-emailInput {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 10px;
}

.rodapePrincipal-contatoForm-submit {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #AAB99A;
	color: #FFF;
	cursor: pointer;
	
}

.rodapePrincipal-contatoForm-submit,
.rodapePrincipal-contatoForm-emailInput {
	outline: 0;
	border: 1px solid #AAB99A;
	box-sizing: border-box;
	font-size: 16px;
}
.rodapePrincipal-patrocinadores-list{
	gap: 10px;
	display: flex;
	justify-content: space-around;
}
.rodapePrincipal-patrocinadores-list li{
	margin: 10%;
	border-radius: 50px;
	background-color: #AAB99A;
}
.videoSobre {
	background-color: #818C78;
	padding: 25px 0;

}

.videoSobre-video {
	max-width: 100%;
}

.videoSobre .container {
	color: #FFF;
}

.videoSobre-sobre-title {
	font-size: 1.2em;
	font-weight: bolder;
}

.videoSobre-sobre {
	font-size: 1.3em;
	line-height: 2;
}

.videoSobre-button {
	border-radius: 8px;
	background-color: #AAB99A;
	display: block;
	color: #FFF;
	border: none;
	height: 50px;
	font-size: .8em;
	outline: none;
}

.rodapePrincipal-contatoForm-legend {
	margin-bottom: 10px;
	color: #727D73;
}

@media(min-width: 769px) {

	.container {
		width: 85%;	
	}

	.subtitulo {
		text-align: left;
	}

	.headerPrincipal-nav-link {
		border-radius: 5px;
		border: 1px solid #9799A6;
	}

	.headerPrincipal-nav-link:hover {
		color: #FFF;
		background-color: #9799A6;
	}

	.headerPrincipal-titulo {
		margin: 0;
	}

	.headerPrincipal-nav {
		width: auto;
	}

	.headerPrincipal-nav-link {
		width: auto;
		margin: 0 0 0 10px;
	}

	.rodapePrincipal-contatoForm {
		margin-top: 0;
		text-align: left;
	}

	.contenidoPrincipal-cursos-link:nth-child(3n) {
		margin-right: 0;
	}

	.contenidoPrincipal-cursos-link:nth-child(3n+1) {
		margin-left: 0;
	}

}

@media(min-width: 1000px) {
	.contenidoPrincipal-cursos-link {
		margin: 1.333%;
	}

	.contenidoPrincipal-cursos-link:nth-child(3n) {
		margin-right: 1.33%;
	}

	.contenidoPrincipal-cursos-link:nth-child(3n+1) {
		margin-left: 1.333%;
	}

	.contenidoPrincipal-cursos-link:nth-child(4n) {
		margin-right: 0;
	}

	.contenidoPrincipal-cursos-link:nth-child(4n+1) {
		margin-left: 0;
	}

	.videoSobre-sobre {
		margin-left: 1.5em;
	}

}


